@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Quiet Meows';
  src: url('./fonts/QuietMeows.ttf');
}

@font-face {
  font-family: 'MS Gothic2';
  src: url('./fonts/MSGothic.ttf');
}


h2 {
  font-family: 'Quiet Meows';
  font-size: 34px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'ms gothic', 'MS Gothic2', sans-serif;
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f5eb;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
  font-size: 18px;
}
.password__input {
  padding: 10px;
  width: 50%;
  font-size: 18px;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
  
}
@media (max-width: 768px) {
  .chat__sidebar {
    display: none;
  }
  .chat__main {
    flex: 1.0 !important;
  }
}
.chat__main {
  height: 100%;
  flex: 0.8;
  background-color: #f9f5eb;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__navigation {
  margin-left: 20px;
}

.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5eb;
  font-size: 20px;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  /* height: 40px; */
  border: none;
  outline: none;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
  font-size: 18px;
  /* letter-spacing: .05rem; */
  /* font-weight: bold; */
  /* font-style:bold; */
}
.leaveChat__btn:hover {
  background-color: rgb(230, 161, 161);
  transition: background-color 0.3s ease;
  animation: shake 0.2s ease-in-out;
  color: darkslategray;
}
.leaveChat__btn:not(:hover) {
  transition: background-color 0.3s ease;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 8vh;
  /* margin-bottom: 10[px] */
  /* overflow: hidden; */
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* border: 1px solid #ddd; */
  outline: none;
  padding: 15px;
  margin-right: 15px;
  font-size: 16px;
}
.message:focus, .message:hover, .search:focus, .search:hover {
  animation: fade 2s infinite;
}

.search {
  margin-right: 15px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  outline: none;
}


@keyframes fade {
  0% {
    /* opacity: 0.76; */
    border: 2px solid #ddd;
  }
  50% {
    /* opacity: 1; */
    border: 2px solid #272121;
  }
  100% {
    /* opacity: 0.76; */
    border: 2px solid #ddd;
  }
}


.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
  font-size: 18px;
}
.sendBtn:hover {
  background-color: rgb(192, 244, 192);
  transition: background-color 0.3s ease;
  animation: shake 0.2s ease-in-out;
  color: darkslategray;
}
.sendBtn:not(:hover) {
  transition: background-color 0.3s ease;
}
.smileyPicker__btn {
  width: 150px;
  background-color: rgb(28, 54, 154);
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
  font-size: 18px;
}
.smileyPicker__btn:hover {
  background-color: rgb(94, 201, 255);
  transition: background-color 0.3s ease;
  animation: shake 0.2s ease-in-out;
  color: darkslategray;
}
.smileyPicker__btn:not(:hover) {
  transition: background-color 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px) scale(0.95); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}

.message__recipient, .message__sender {
  /* animation: fadeIn 0.5s ease-out; */
  background-color: #f5ccc2; /* Example color for recipient */
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  word-wrap: break-word;
}

.message__recipient {
  /* animation: fadeIn 0.5s ease-out; */
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}
.message__sender {
  /* animation: fadeIn 0.5s ease-out; */
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 16px;
}
.message__recipient:hover, .message__sender:hover {
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0% { transform: translate(0.25px, 0.25px) rotate(0deg); }
  10% { transform: translate(-0.25px, -0.5px) rotate(-0.5deg); }
  20% { transform: translate(-0.75px, 0px) rotate(0.5deg); }
  30% { transform: translate(0.75px, 0.5px) rotate(0deg); }
  40% { transform: translate(0.25px, -0.25px) rotate(0.5deg); }
  50% { transform: translate(-0.25px, 0.5px) rotate(-0.5deg); }
  60% { transform: translate(-0.75px, 0.25px) rotate(0deg); }
  70% { transform: translate(0.75px, 0.25px) rotate(-0.5deg); }
  80% { transform: translate(-0.25px, -0.25px) rotate(0.5deg); }
  90% { transform: translate(0.25px, 0.5px) rotate(0deg); }
  100% { transform: translate(0.25px, -0.5px) rotate(-0.5deg); }
}

.message__chats > p {
  font-size: 18px;
}

.message__timestamp {
  text-align: right;
  font-size: 12px !important;
}

.message__status {
  /* position: fixed; */
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.emoji {
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.emoji:hover {
  transform: scale(2); /* Increase scale on hover */
}

.formatting-btn {
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 4px;
  font-size: 16px;
  padding: 6px;
}

/* rainbow text */
.rainbow {
  background-image: linear-gradient(90deg, violet, indigo, blue, green, rgb(143, 143, 9), orange, red);
  background-size: 400%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chat__badges {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: 400px;
  overflow-y: auto;
}

.badge {
  padding: 2px;
  cursor: pointer;
  /* margin-right: 5px; */
}

.badge:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.selectedPage {
  background-color: #b5cbeb !important; 
}

.page, .selectedPage {
  background-color: #ffffff;
  /* border: 1px solid #607eaa; */
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 4px;
  padding: 2px;
  border-radius: 4px; 
}

.profile-card {
  /* Middle of screen, appear over everything, black bg */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #000;
  /* 80% opacity */
  opacity: 0.8;
  /* Full screen width and height */
  width: 50vw;
  max-height: 33vh;
  padding: 15px;
  color: #fff;
  animation: fadeIn3 0.5s ease-out;
  overflow-y: auto;

}

@keyframes fadeIn3 {
  from { opacity: 0; transform: translateY(-50, -50%) scale(0.6); }
  to { opacity: 0.8; transform: translateY(-50%, -50%) scale(1); }
}

.profile-card__badges {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 50%;
  overflow-y: auto;
  margin-top: 5px;
}

.profile-card__bio {
  display: flex;
  /* Wrap vertically */
  flex-wrap: wrap;
  /* 80% width */
  max-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-all;
}

.profile-card__close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 16px;
}



.message__yourname {
  text-align: right !important;
}

.message__yourname:hover, .message__username:hover {
  animation: shake 0.1s ease-in-out !important;
  color: #607eaa;
}

@keyframes nameHover {
  
}

.profile-card__name {
  /* side-by-side */
  display: flex;
  /* align vertically to bottom */
  align-items: flex-end;
}